html {
  height: 98%;
  min-width: 360px;
  body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    #search-div {
      align-self: center;
      justify-self: center;
    }
    #pokemon-div {
      margin-top: 10px;
      width: 40%;
      min-width: fit-content;
      padding: 10px;
      border-radius: 50px;
      border: 2px solid black;
      background-color: lightblue;
      margin-bottom: 20px;
      #name {
        text-align: center;
      }
      #image-div {
        display: flex;
        justify-content: center;
        img {
          margin: 0 10px;
        }
      }
      #lists {
        display: flex;
        justify-content: space-around;
      }
      #height {
        text-align: center;
      }
      #weight {
        text-align: center;
      }
    }
    #loadingScreen {
      display: flex;
      flex-direction: column;
    }
    #pokemonPreviewList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 20px;
    }
    .pokemonPreview {
      background-color: lightblue;
      border-radius: 50px;
      margin: 10px;
      border: black 2px solid;
      h3 {
        text-align: center;
      }
    }
    .pokemonPreview:hover {
      cursor: pointer;
    }
    #pageButtons {
      display: flex;
      justify-content: space-between;
      margin-top:  auto;
      #dynamicButtons {
        display: block;
      }
    }
    .currentPage {
      color: blue;
    }
    img{
      width: 96px;
      height:96px;
    }
  }
}
