body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #search-div {
    align-self: center;
    justify-self: center;
  }
  #pokemon-div {
    margin-top: 10px;
    width: 40%;
    border-radius: 50px;
    background-color: lightblue;
    #name {
      text-align: center;
    }
    #image-div {
      display: flex;
      justify-content: center;
      img {
        margin: 0 10px;
      }
    }
    #lists {
      display: flex;
      justify-content: space-around;
    }
    #height {
      text-align: center;
    }
    #weight {
      text-align: center;
    }
  }
  #pokemonPreviewList{
    display: flex;
    flex-wrap: wrap;
  }
  .pokemonPreview{
    background-color: lightblue;
    border-radius: 50px;
    margin: 10px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    h3{
      text-align: center;
    }
  }
  #pageButtons{
    display: flex;
    justify-content: space-between;
  }
}
